matrix:
  server: '<server>'
  username: '@<username>:<server>'
  password: '<password>'

db:
  sqlitedb: 'gfyrslf.db'

bot:
  name: 'gfyrslf'
  cmd_prefix_regex: '^!'
  announce: False

commands:
  help:
    classname: 'HelpCommand'
    subcmd_regex: '(help|halp)'
  gif:
    classname: 'GifCommand'
    regex: '^!gif'
    apis:
      tenor:
        api_key: 'LIVDSRZULELA'
      giphy:
        api_key: 'dc6zaTOxFJmzC'
  hi:
    classname: 'HelloCommand'
    subcmd_regex: '(hi|(he|hu)llo|howdy)'
  dice_roll:
    classname: 'DiceCommand'
    subcmd_regex: 'd\d+'