matrix:
  server: 'SERVER'
  username: '@USER:HOMESERVER'
  password: 'PASSWORD'

db:
  sqlitedb: 'bottyb.db'

bot:
  name: 'bottyb'
  display_name: 'King Botbert Baratheon'
  cmd_prefix_regex: '^!'
  announce: False

commands:
  help:
    classname: 'HelpCommand'
    subcmd_regex: '(h|help|halp)'
  asoiaf_whois:
    classname: 'ASOIAFWhoisCommand'
    regex: '^!whois (.+)'
  asoiaf_search:
    classname: 'ASOIAFSearchCommand'
    regex: '^!search (.+)'
